<html>
    <head>
        <title>Online Judge:Sign In</title>
        <link rel="stylesheet" href = 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
        <link rel="stylesheet" href="../css/stylesheet.css">
        <link href="/assets/application-591e50693ebb37a9ae65f14eb4cbc66d.css" media="all" rel="stylesheet" type="text/css" />
        
  <script src="/assets/application-125d0d8e7cdf2e3a7804a5903e14c759.js" type="text/javascript"></script>
        
  <link href="/assets/favicon-53da3c47253e433d6c8d58337e7fb8ef.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
        
    </head>
    <body>
        <div class = 'navbar navbar-default'>
            <div class = 'container'>
                <a href = "../html/LoginPage.html" class = "navbar-brand navbar-logo">
                    <div class = 'sign-in-logo'>
                    <img alt = "Online Judge" height="38" src = '../assets/OnlineJudge_Logo' width = '150'/>
                    </div>
                </a>
                <ul class = 'nav navbar-nav'>
                    <li class = ''>
                        <a href = '../html/work-outs.html'>Work Outs</a>
                    </li>
                    <li class = ''>
                        <a href = '../html/problems.html'>Problems</a>
                    </li>
                    <li class = ''>
                        <a href = '../html/videos.html'>Videos</a>
                    </li>
                </ul>
                <div class = 'navbar-right'>
                    <a href = "../users/sign_in.html" class = "btn btn-xs navbar-btn btn-default">Sign In</a>
                    <a href = "../users/sign_up.html" class ="btn btn-xs navbar-btn btn-default">Sign Up</a> 
                </div>
               <form ng-controller='SearchBoxController' class='navbar-form pull-right search-box dropdown'>
        <div class='input-group'>
          <span class='input-group-addon'><i class="fa fa-search"></i></span>
          <input class='form-control' type='text'
              placeholder='Search for a video or problem'
              ng-model='searchText' ng-change='searchTextChanged()' />
        </div>
        <ng-switch on='searchText.length>0'>
          <ul class='dropdown-menu' ng-switch-when='true'>
            <li class='dropdown-header'>Videos</li>
            <li ng-repeat='video in searchResult.videos'>
              <a ng-href='/videos/{{video.url_slug}}' >
                <i class="fa fa-video-camera"></i>&nbsp;
                {{video.title}}
              </a>
            </li>
            <li ng-show='searchResult.videos.length==0' class='disabled'>
              <a><small class='text-muted'>No videos for '{{searchText}}'</small></a>
            </li>
            <li class='divider'></li>
            <li class='dropdown-header'>Problems</li>
            <li ng-repeat='problem in searchResult.problems'>
              <a ng-href='/problems/{{problem.url_slug}}'>
                <i class="fa fa-desktop"></i>&nbsp;
                {{problem.title}}
              </a>
            </li>
            <li ng-show='searchResult.problems.length==0' class='disabled'>
              <a><small class='text-muted'>No problems for '{{searchText}}'</small></a>
            </li>
          </ul>
          <ul class='dropdown-menu' ng-switch-when='false'>
            <li class='dropdown-header'>Type above to see results</li>
          </ul>
        </ng-switch>
      </form>
            </div>
        </div>
         <div class='container body-div'>
    
    
<h2>Sign in</h2>
<hr />

<div class="row"><div class="col-lg-4">
<form accept-charset="UTF-8" action="/users/sign_in" class="new_user form-horizontal" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="YVEDU3AVPKk4k2uTEc8rzHGjR5Ubd7W1D7OCn7aJ6WY=" /></div>
      <div class="form-group">
      <label class="col-lg-4 control-label" for="user_username">Username</label>
      <div class="col-lg-8">
        <input class="form-control" id="user_username" name="user[username]" size="30" type="text" />
      </div>
    </div>

      <div class="form-group">
      <label class="col-lg-4 control-label" for="user_password">Password</label>
      <div class="col-lg-8">
        <input class="form-control" id="user_password" name="user[password]" size="30" type="password" />
      </div>
    </div>


    <div class="form-group">
      <div class="col-lg-8 col-lg-offset-4">
        <label>
          <input name="user[remember_me]" type="hidden" value="0" /><input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" /> Remember me
        </label>
      </div>
    </div>
  <div class="form-group">
    <div class="col-lg-8 col-lg-offset-4">
      <input class="btn btn-primary btn-lg" name="commit" type="submit" value="Sign in" />
    </div>
  </div>
</form>
  <a href="/users/sign_up.html">Sign up</a><br />

  <a href="/users/password/new.html">Forgot your password?</a><br />

</div></div>

  </div>
  <div class='footer'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-6'>
          <small>
            <a href="/about">About</a> |
            <a href="http://blog.onlinejudge.com">Blog</a>
          </small>
        </div>
        <div class='col-lg-6 text-right'>
          <small class='text-muted'>All rights reserved &copy; 2015 Online Judge</small>
        </div>
      </div>
    </div>
  </div>

    </body>
</html>