@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
body {
 background: url('../assets/background') no-repeat center center fixed;
 -moz-background-size: cover;
 -webkit-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
    
}
.text{
   font-family: 'Noto Sans', sans-serif;
}
.footer-text{
    
}
.sign-in-logo{
    position: relative;
    top: -10px;
}